* {
  box-sizing: border-box; 
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  margin: 0;
}

.col-1 {
  background: #D7E8D4;
  flex: 1;
}

.col-2 {
  display: flex;
  flex-direction: column;
  flex: 5;
}

.content {
  display: flex;
  flex-direction: row;
}

.content > article {
  flex: 3;
  min-height: 60vh;
}

.content > aside {
  background: beige;
  flex: 1;
}

header, footer {
  background: yellowgreen;
  height: 20vh;
}

header, footer, article, nav, aside {
  padding: 1em;
}

img.keyResize {
  max-width:100%;
  max-height:100%;
}

img.imgResize {
  max-width:100%;
  max-height:100%;
}

.container {
  position: relative;
  max-width: 800px; /* Maximum width */
  margin: 0 auto; /* Center it */
}

.container .content {
  position: absolute; /* Position the background text */
  /*bottom: 0;  At the bottom. Use top:0 to append it to the top */
  top: 0;
  opacity: 0;
  /*background: rgb(0, 0, 0); /* Fallback color */
  /*background: rgba(0, 0, 0, 0.5);  Black background with 0.5 opacity */
  /*color: #f1f1f1;  Grey text */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}